@model List<Model.EF.Menu>
<div class="call">
    <p><span>Need help?</span> call us <span class="number">1-22-3456789</span></span></p>
</div>
<div class="account_desc">
    @{
        var session = (ShopOnline.Common.UserLogin)Session[ShopOnline.Common.CommonConstant.USER_SESSION];
    }
    @if (session == null)
    {
        <ul>
            @foreach (var item in Model)
            {
                <li><a href="@item.Link" target="@item.Target">@item.Text</a></li>
            }
        </ul>
    }
    else
    {
        <ul>
            <li class="form-control">
                <a href="#">
                    Welcome: @session.Username
                </a>
            </li>
            <li>
                @Html.ActionLink("Logout", "Logout", "User")
            </li>
        </ul>
    }
</div>
